/* capsule css */
a {
  font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    padding: 25px 200px;
  }
  
  .filters .button {
    width: 100px;
    background-color: rgb(102, 102, 203);
    border: 2px solid white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  }
  
  .products {
    margin: 0 100px;
    border-top: 2px solid #999;
  }
  
  .product-item {
    border-bottom: 2px solid #999;
  }
  
  