<div class="container">
    <div class="filters">
      <a class="button" (click)="filterLabel='Heads'">Heads</a>
      <a class="button" (click)="filterLabel='Arms'">Arms</a>
      <a class="button" (click)="filterLabel='Torsos'">Torsos</a>
      <a class="button" (click)="filterLabel='Bases'">Bases</a>
      <a class="button" (click)="filterLabel=''">All</a>
    </div>
  
    <ul class="products">
      <li class="product-item" *ngFor="let product of getFilteredProducts()">
        <div class="product">
          <div class="product-details">
            <img [src]="getImageUrl(product)" alt="" />
            <div class="product-info">
              <div class="name">{{product?.name}}</div>
              <div class="description">{{product?.description}}</div>
              <div class="category">Part Type:{{product?.category}} </div>
            </div>
          </div>
          <div class="price">
            <div>{{product?.price?.toFixed(2)|currency:"CNY"}}</div>
            <div class="discount">{{(((1-(product?.discount??0))??0)*(product?.price??0)).toFixed(2) }}</div>
            <button class="cta">Buy</button>
          </div>
        </div>
      </li>
    </ul>
  </div>